html {
    scroll-behavior: smooth;

}

body {
    text-align: center;
    overflow-x: hidden;
}

#title {
    background-color: #ebf1f5;
}

.navbar-nav .nav-item a {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.header-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 5rem;
    line-height: 1;
    color: #D6D0A9;
    text-align: left;
    padding-top: 2rem;
}

p {
    font-family: 'Raleway', sans-serif;
    color: #2c3e50;
    text-align: left;
}

.jumbotron {
    background: none;
}

.navbar {
    padding-bottom: 2rem;
    z-index: 1;
}

.container-fluid {
    padding: 2% 15% 2%;
    box-sizing: border-box;
    margin: 0;
}

.top-container-fluid {
    padding: 2% 15% 0%;
    box-sizing: border-box;
    margin: 0;
}

.header-description {
    text-align: left;
    z-index: 1;
}

.btn-danger {
    background-color: #7E6000;
    border-color: #7E6000;
}

.btn-danger:hover {
    background-color: #AA8055;
    border-color: #AA8055;
}

.title {
    font-weight: bolder;
    font-size: 3rem;
    line-height: 1;
    text-align: left;
}

.about-us {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 4rem;
    line-height: 1;
    color: #ebf1f5;
    text-align: center;
}

.parallax p {
    text-align: center;
    color: #ebf1f5;
}

.img-container {
    display: flex;
    padding: 1rem 0rem;
}

.navbar-brand img {
    height: 130px;
}

.navbar-toggler {
    margin-top: 0.3rem;
}

.text-img {
    height: 150px;
    margin-left: -1.3rem;
}

.wtitle p {
    color: #fff;
    text-align: center;
}

.img-fluid {
    max-width: 300%;
    height: auto;
    margin-left: -23rem;
    margin-top: -14rem;
}

/* SERVICES */
.services-section h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    color: #2c3e50;
    text-align: center;
}

.card .card-img-top {
    height: 280px;
}

/* CAROUSEL SECTION */
.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.carousel-inner {
    height: 500px;
    z-index: -1;
}

.carousel-item {
    height: 100%;
}

/* .carousel-indicators {
    width: initial;
    bottom: initial;
    top: 75px;
    display: flex;
    flex-direction: column;
    margin-left: 2rem !important;
} */

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 20px;
    height: 0px;
    margin-right: 3px;
    margin-left: 10px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: initial;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 25px;
    margin-bottom: 0.5rem;
} 

.carousel-caption p {
    font-family: 'Montserrat', sans-serif;
    color: #ebf1f5;
    text-align: center;
    line-height: 1.2;
    font-size: 1rem;
}

.carousel-caption h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 3rem;
}

.carousel-content .ctitle {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 3rem;
    line-height: normal;
}

.carousel-content .ctext {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5em;
}

/* FOUNDER SECTION */

.founder-section .card-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    color: #ebf1f5;
    text-align: center;
}

.founder-section {
    background: url("../img/bs-docs-masthead-pattern.png");
    background-color: #7E6000;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    min-height: 100px;
}

.ownership-section {
    background: url("../img/bs-docs-masthead-pattern.png");
    background-color: #7E6000;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    min-height: 100px;
}

/* PARALLAX SECTION */
.parallax {
    background: url("../img/backgrounds/aus-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 230px;
}

.founder-section p {
    color: #ebf1f5;
    text-align: center;
}

.team h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 3rem;
    color: #ebf1f5;
    text-align: center;
}

/* COMPANY SECTION */
.company {
    color: #2c3e50;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 2%;
}

.company h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    line-height: 1;
    color: #7E6000;
    text-align: center;
    padding: 2%;
}

.company p {
    padding: 1rem;
}

.company .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.company img {
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    height: 100px;
}

.company .title {
    text-align: center;
    margin-bottom: 1rem;
}

.company .highlight {
    color: #7E6000;
}

.img-container .card-img-top {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray;
    /* IE5+ */
    -webkit-filter: grayscale(1);
    /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .8s ease-in-out;
}

.img-container .card-img-top:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}

.footer-section {
    text-align: left;
    background-color: #7E6000;
    color: #ebf1f5;
}

.footer-section p {
    color: #ebf1f5;
    font-family: 'Montserrat', sans-serif;

}

.footer-section h6 {
    padding-top: 3%;
}

.copyright .container-fluid {
    background-color: #7E6000;
    padding-top: 1%;
    padding-bottom: 0px;
}

.footer-section a {
    text-decoration: none;
    color: inherit;
}

.footer-section a:hover{
   color: #7E6000;
}

.phone-directory {
    padding-top: 5%;
    font-family: 'Montserrat', sans-serif;
}

.members .lead {
    text-align: center;
    font-size: 2.5rem;
}

/* SCROLL TO TOP BUTTON */
#myBtn {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    bottom: 30px;
    right: 30px;
    outline: none;
    border: none;
    background-color: #7E6000;
    color: #ebf1f5;
    font-size: 2rem;
}
#myBtn:hover {
    background-color: #AA8055;
}
#myBtn:active {
    background-color: #7E6000;
}

.mobile-ctext {
    display: none;
}

.xs-device {
    display: none;
}

.space {
    margin: 1.5rem;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .carousel-content {
        position: absolute;
        bottom: 30%;
        z-index: 20;
        color: white;
    }
    
    .test {
        bottom: 48.5%;
    }
    
    .counselling {
        bottom: 41.5%;
    }
    
    .student {
        bottom: 22.5%;
    }

    .carousel-content .ctext {
        font-size: 1.5rem;
        line-height: 1.5em;
    }

    .s-device {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .carousel-content {
        position: absolute;
        bottom: 38%;
        z-index: 20;
        color: white;
    }
    
    .test {
        bottom: 60.5%;
    }
    
    .counselling {
        bottom: 54.5%;
    }
    
    .student {
        bottom: 38.5%;
    }

    .carousel-content .ctext {
        font-size: 1.3rem;
        line-height: 1.3em;
    }

    .xl-device {
        display: none;
    }
    
    .remove-space {
        margin-top: -5rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .carousel-content {
        position: absolute;
        bottom: 50%;
        z-index: 20;
        color: white;
    }

    .img-fluid {
        max-width: 200%;
        height: auto;
        margin-left: -5rem;
        margin-top: -28rem;
    }

    .container-fluid {
        padding: 2% 5% 2%;
    }
    
    .test {
        bottom: 64.5%;
    }
    
    .counselling {
        bottom: 60.5%;
    }
    
    .student {
        bottom: 50.5%;
    }

    .carousel-content .ctitle {
        font-size: 2.2rem;
    }

    .carousel-content .ctext {
        font-size: 1rem;
        line-height: 1.3em;
    }

    .xl-device {
        display: none;
    }

    .services-section .col-md-6 {
        margin-bottom: 2rem;
    }

    .carousel-indicators {
        width: initial;
        top: 75px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 0rem !important;
        padding-bottom: 2rem;
    }

    .carousel-indicators li {
        width: 9px;
    }

    .hide {
        display: none;
    }

    .xs-device {
        display: block;
    }

    .remove-space {
        margin-top: -9rem;
    }

    .company {
        align-items: center;
    }

    .testimonial .slide {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 0rem 2rem 0rem 3.5rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 850px) and (min-width: 768px) {
    .remove-space {
        margin-top: -11rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 425px) {

    #title {
        padding: 1rem;
    }

    .text-img {
        height: 145px;
    }

    .header-text {
        font-size: 3rem;
        padding-top: 0rem;
    }

    .navbar {
        padding: 0rem 0rem 2rem 0rem;
    }

    .carousel-inner {
        height: 400px;
    }

    .img-fluid {
        display: none;
    }

    .carousel-item img {
        width: 100%;
        height: 450px;
        object-fit: cover;
    }

    .carousel-indicators li {
        width: 9px;
    }

    .carousel-content {
        position: absolute;
        bottom: 18%; 
        z-index: 20;
        color: white;
    }
    
    .test {
        bottom: 38.5%;
    }
    
    .counselling {
        bottom: 33.5%;
    }
    
    .student {
        bottom: 18%;
    }

    .carousel-content .ctitle {
        font-size: 2.5rem;
    }

    .carousel-indicators {
        width: initial;
        top: 75px;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        margin-left: 1rem;
    }

    .carousel-content .mobile-ctext {
        display: block;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        line-height: 1.5em;
    }

    .hide,
    .carousel-content .ctext,
    .xs-device,
    .xl-device,
    .s-device {
        display: none;
    }

    .top-container-fluid {
        padding: 0% 0% 0%;
    }

    .carousel-inner {
        z-index: -1;
    }

    .carousel {
        margin-bottom: 1rem;
    }

    .card {
        margin-bottom: 1rem;
    }

    .about-us {
        font-size: 3rem;

    }

    .container-fluid {
        padding: 2% 5% 2%;
    }

    .team h3 {
        display: none;
    }

    .founder-section p {
        font-size: 2rem;
        font-weight: bolder;
    }

    .testimonial .image {
        height: 100px;
        width: auto;
        border-radius: 10rem;
        margin-bottom: 0.5rem;
    }

    .testimonial .slide {
        display: flex;
        flex-direction: column;
        padding: 0rem 0rem;
        margin-top: 1rem;
    }

    .members-section .testimonial-content p {
        font-size: 1rem;
        margin-bottom: 0rem;
    }

    .testimonial {
        padding-bottom: 2rem;
    }

    .col-lg-6 {
        padding-right: 0px;
        padding-left: 0px;
    }

    .container {
        height: 66vh;
    }

    .members .lead {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    .space {
        margin: 0.7rem;
    }
}